@import '../base/mixin';
@import '../base/variables';
@import '../base/font';

#kelima {
    .container1{
        @include container1();
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 380.52px;
            column-gap: 10px;
            .colom:hover {
                filter: brightness(80%);
            }
            .colom{
                color: #ffffff;
                transition: ease all 1s;
                .container{
                    padding: 30px 30px;
                    .wrap{
                        display: flex;
                        justify-content: space-between;
                        .kiri{
                            .konten{
                                display: flex;
                                img{
                                    width: 25px;
                                    height: 25px;
                                    margin-right: 10px;
                                }
                                p {
                                    font-size: 17px;
                                    font-family: dinnormal;
                                    color: $colorsecond;
                                    line-height: 20px;
                                }
                            }
                        }
                        .kanan{
                            .border1{
                                padding: 10px;
                                border-radius: 5px;
                                border: 1px solid white;
                                p{
                                    margin-bottom: 0px;
                                    font-family: dinbold;
                                    font-weight: bold;
                                    font-size: 13px;
                                    text-align: center;
                                    color: white;
                                    transition: ease all 1s;
                                }
                                p:hover{
                                    color: $colorprimary;
                                }
                            }
                        }
                    }
                    .bawah{
                        p{
                            margin-top: 250px;
                            text-align: center;
                            font-family: gothambold;
                            font-weight: bold;
                            color: white;
                          
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 970px) {
    
    #kelima {
        .container1{
            overflow: hidden;
            .grid{
                grid-template-columns: 50% 50%;
                grid-template-rows: auto;
                column-gap: 10px;
                row-gap: 10px;
                .colom{
                    background-repeat: no-repeat;
                    .container{
                        
                        .wrap{
                            
                            .kiri{
                                .konten{
                                    
                                    img{
                                        
                                    }
                                    p {
                                        
                                    }
                                }
                            }
                            .kanan{
                                .border1{
                                    
                                    p{
                                        
                                    }
                                    p:hover{
                                        
                                    }
                                }
                            }
                        }
                        .bawah{
                            p{
                                
                            
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 655px) {
    
    #kelima {
        .container1{
            .grid{
                grid-template-columns: 1fr;
                .colom{
                    background-size: cover;
                    background-repeat: no-repeat;
                    .container{
                        
                        .wrap{
                            
                            .kiri{
                                .konten{
                                    
                                    img{
                                        
                                    }
                                    p {
                                        
                                    }
                                }
                            }
                            .kanan{
                                .border1{
                                    
                                    p{
                                        
                                    }
                                    p:hover{
                                        
                                    }
                                }
                            }
                        }
                        .bawah{
                            p{
                                
                            
                            }
                        }
                    }
                }
            }
        }
    }
}