@import '../base/mixin';
@import '../base/variables';

#top-banner {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    .swiper-container{
        .swiper-wrapper{
            .swiper-slide {
            }
        }
    }
    // .slide {
    //     .carousel-indicators {
    //         .bulat {
    //             width: 15px;
    //             height: 15px;
    //             border-radius: 100%;
    //             border: 1.5px solid white;
    //             background: transparent;
    //         }
    //         .active {
    //             border: 3px solid white;
    //         }
    //     }
    //     .carousel-inner {
    //         .carousel-item {
    //             .carousel-caption {
    //                 h3{
    //                     font-family: gdin-bold;
    //                 }
    //             }
    //         }

    //     }
    // }
}